<div>
    <div class="row">
      <div class="col-9">
        <app-simulator-canvas [scope]="scope">
        </app-simulator-canvas>
        <app-action-bar [scope]="scope"></app-action-bar>
      </div>
      <app-process-detail [scope]="scope"  class="col-3"
                          *ngIf="scope.stageHandler &&
                                 scope.stageHandler.stage &&
                                 scope.stageHandler.stage.selectedContainer &&
                                 scope.stageHandler.stage.selectedContainer != null">
      </app-process-detail> <!-- *ngIf="scope.showDetail" -->
    </div>
</div>
