<div class="modal-header">
    <h4 class="modal-title">{{process.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="!process.model">
    <label class="col-sm-12 control-label" for="parameter">This process has no models. Please go to the editor page and add a model to this process.</label>
</div>
<div class="modal-body" *ngIf="process.model">
    <div ngbDropdown class="d-inline-block" *ngIf="process.models.length > 0">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            {{process.model.name}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let m of process.models">
                <button class="dropdown-item" (click)="changeModel(m)" >{{m.name}}</button>
            </div>
        </div>
    </div>
</div>
<br/>
<ngb-tabset *ngIf="process.model">
    <ngb-tab title="Input" *ngIf="process.inputLimit == 0" >
        <ng-template ngbTabContent>
            <br/>
            <app-input-detail [process]="process"></app-input-detail>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Parameters" *ngIf="process.model.parameters">
      <ng-template ngbTabContent>
        <br/>
        <app-parameter-detail [model]="process.model"></app-parameter-detail>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Results" *ngIf="process.model.results">
        <ng-template ngbTabContent>
          <br/>
          <app-result-detail [model]="process.model"></app-result-detail>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
