<div class="modal-header">
    <h4 class="modal-title">{{process.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div ngbDropdown class="d-inline-block" *ngIf="process.models.length > 0">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            {{process.model.name}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let m of process.models">
                <button class="dropdown-item" (click)="changeModel(m)" >{{m.name}}</button>
            </div>
        </div>
    </div>
</div>
<br/>
<form class="form-horizontal">
    <div *ngFor="let parameter of process.model.parameters">
        <div class="form-group form-group-sm row col-sm-12">
            <label class="col-sm-2 control-label" for="parameter">{{parameter.name}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="parameterName" name="{{parameter.name}}" [(ngModel)]="parameter.value">
            </div>
        </div>    
    </div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>


<!-- <br>
<form>
    <div class="form-group">
        <div>
            <label for="processName">Name</label>
            <input type="text" class="form-control" id="processName" 
            placeholder="{{scope.stageHandler.stage.selectedContainer.process.name}}" readonly>
        </div>
        <br/>
        <div ngbDropdown class="d-inline-block" *ngIf="scope.stageHandler.stage.selectedContainer.process.models.length > 0">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                {{scope.stageHandler.stage.selectedContainer.process.model.name}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                 <div *ngFor="let m of scope.stageHandler.stage.selectedContainer.process.models">
                     <button class="dropdown-item" (click)="changeModel(m)" >{{m.name}}</button>
                 </div>
            </div>
        </div>
        <br/>
        <div *ngFor="let parameter of scope.stageHandler.stage.selectedContainer.process.model.parameters">
                <label for="parameter">{{parameter.name}}</label>
                <input type="text" class="form-control" id="parameterName">
        </div>
    </div>
</form> -->